<div>
  <h2 id="page-heading" data-cy="UserExpresionHeading">
    <span jhiTranslate="saraBusinessInteligenteApp.userExpresion.home.title">User Expresions</span>
 <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
                <input  class="form-control bg-light border-1 small" type="text" placeholder="{{ 'saraBusinessInteligenteApp.userExpresion.home.searchvalue' | translate }}" aria-label="Buscar " aria-describedby="basic-addon2" [(ngModel)]=searchvalue name="searchvalue"/>
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button" (click)="search()"><fa-icon [icon]="['fas', 'search']"></fa-icon></button>
                </div>
                 <div class="input-group-append">
                    <button class="btn btn-danger" type="button" (click)="reset()"><fa-icon [icon]="['fas', 'ban']"></fa-icon></button>
                </div>
                <select class="form-control" name="searchPriority"  id="field_searchPriority" [(ngModel)]="searchPriority" >
                        <option value="LOW">{{ 'saraBusinessInteligenteApp.Priority.LOW' | translate }}</option>
                        <option value="MEDIA">{{ 'saraBusinessInteligenteApp.Priority.MEDIA' | translate }}</option>
                        <option value="HIGHT">{{ 'saraBusinessInteligenteApp.Priority.HIGHT' | translate }}</option>
                </select>              
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button" (click)="search()"><fa-icon [icon]="['fas', 'search']"></fa-icon></button>
                </div>
                 <div class="input-group-append">
                    <button class="btn btn-danger" type="button" (click)="reset()"><fa-icon [icon]="['fas', 'ban']"></fa-icon></button>
                </div> 
                
            </div>
        </form>
    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="saraBusinessInteligenteApp.userExpresion.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-user-expresion"
        [routerLink]="['/user-expresion/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="saraBusinessInteligenteApp.userExpresion.home.createLabel"> Create a new User Expresion </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="userExpresions?.length === 0">
    <span jhiTranslate="saraBusinessInteligenteApp.userExpresion.home.notFound">No User Expresions found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="userExpresions && userExpresions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="value">
            <div class="d-flex">
              <span jhiTranslate="saraBusinessInteligenteApp.userExpresion.value">Value</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="priority">
            <div class="d-flex">
              <span jhiTranslate="saraBusinessInteligenteApp.userExpresion.priority">Priority</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let userExpresion of userExpresions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/user-expresion', userExpresion.id, 'view']">{{ userExpresion.id }}</a>
          </td>
          <td>{{ userExpresion.value }}</td>
          <td jhiTranslate="{{ 'saraBusinessInteligenteApp.Priority.' + userExpresion.priority }}">{{ userExpresion.priority }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/intent']"
                [queryParams]="{ 'filter[userExpresionId.in]': userExpresion.id }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('saraBusinessInteligenteApp.userExpresion.intent' | translate) }"
                  >Show Intent</span
                >
              </button>
              <button
                type="submit"
                [routerLink]="['/user-expresion', userExpresion.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/user-expresion', userExpresion.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(userExpresion)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="userExpresions && userExpresions.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
