<div>
  <h2 id="page-heading" data-cy="UserResponseHeading">
    <span jhiTranslate="saraBusinessInteligenteApp.userResponse.home.title">User Responses</span>
<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
                <input  class="form-control bg-light border-1 small" type="text" placeholder="{{ 'saraBusinessInteligenteApp.userResponse.home.searchvalue' | translate }}" aria-label="Buscar " aria-describedby="basic-addon2" [(ngModel)]=searchvalue name="searchvalue"/>
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button" (click)="search()"><fa-icon [icon]="['fas', 'search']"></fa-icon></button>
                </div>
                 <div class="input-group-append">
                    <button class="btn btn-danger" type="button" (click)="reset()"><fa-icon [icon]="['fas', 'ban']"></fa-icon></button>
                </div>
                 <select class="form-control" name="searchResponseType"  id="field_searchResponseType" [(ngModel)]="searchResponseType" >
                        <option value="QUERY">{{ 'saraBusinessInteligenteApp.ResponseType.QUERY' | translate }}</option>
                        <option value="SERVICIO">{{ 'saraBusinessInteligenteApp.ResponseType.SERVICIO' | translate }}</option>
                </select>              
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button" (click)="search()"><fa-icon [icon]="['fas', 'search']"></fa-icon></button>
                </div>
                 <div class="input-group-append">
                    <button class="btn btn-danger" type="button" (click)="reset()"><fa-icon [icon]="['fas', 'ban']"></fa-icon></button>
                </div> 
                
            </div>
             <div class="input-group">
                <select class="form-control" name="searchPriority"  id="field_searchPriority" [(ngModel)]="searchPriority" >
                        <option value="LOW">{{ 'saraBusinessInteligenteApp.Priority.LOW' | translate }}</option>
                        <option value="MEDIA">{{ 'saraBusinessInteligenteApp.Priority.MEDIA' | translate }}</option>
                        <option value="HIGHT">{{ 'saraBusinessInteligenteApp.Priority.HIGHT' | translate }}</option>
                </select>              
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button" (click)="search()"><fa-icon [icon]="['fas', 'search']"></fa-icon></button>
                </div>
                 <div class="input-group-append">
                    <button class="btn btn-danger" type="button" (click)="reset()"><fa-icon [icon]="['fas', 'ban']"></fa-icon></button>
                </div> 
                 
                <select class="form-control" name="searchMultimediaType"  id="field_searchMultimediaType" [(ngModel)]="searchMultimediaType" >
                        <option value="AUDIO">{{ 'saraBusinessInteligenteApp.MultimediaType.AUDIO' | translate }}</option>
                        <option value="VISUAL">{{ 'saraBusinessInteligenteApp.MultimediaType.VISUAL' | translate }}</option>
                </select>              
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button" (click)="search()"><fa-icon [icon]="['fas', 'search']"></fa-icon></button>
                </div>
                 <div class="input-group-append">
                    <button class="btn btn-danger" type="button" (click)="reset()"><fa-icon [icon]="['fas', 'ban']"></fa-icon></button>
                </div> 
            </div>
        </form>
    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="saraBusinessInteligenteApp.userResponse.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-user-response"
        [routerLink]="['/user-response/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="saraBusinessInteligenteApp.userResponse.home.createLabel"> Create a new User Response </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="userResponses?.length === 0">
    <span jhiTranslate="saraBusinessInteligenteApp.userResponse.home.notFound">No User Responses found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="userResponses && userResponses.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="valueResponse">
            <div class="d-flex">
              <span jhiTranslate="saraBusinessInteligenteApp.userResponse.valueResponse">Value Response</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="priority">
            <div class="d-flex">
              <span jhiTranslate="saraBusinessInteligenteApp.userResponse.priority">Priority</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
         
          <th scope="col" jhiSortBy="isEndConversation">
            <div class="d-flex">
              <span jhiTranslate="saraBusinessInteligenteApp.userResponse.isEndConversation">Is End Conversation</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="responseType">
            <div class="d-flex">
              <span jhiTranslate="saraBusinessInteligenteApp.userResponse.responseType">Response Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="url">
            <div class="d-flex">
              <span jhiTranslate="saraBusinessInteligenteApp.userResponse.url">Url</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="multimediaUrl">
            <div class="d-flex">
              <span jhiTranslate="saraBusinessInteligenteApp.userResponse.multimediaUrl">Multimedia Url</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="multimediaVoiceUrl">
            <div class="d-flex">
              <span jhiTranslate="saraBusinessInteligenteApp.userResponse.multimediaVoiceUrl">Multimedia Voice Url</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="saraAnimationUrl">
            <div class="d-flex">
              <span jhiTranslate="saraBusinessInteligenteApp.userResponse.saraAnimationUrl">Sara Animation Url</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="multimediaType">
            <div class="d-flex">
              <span jhiTranslate="saraBusinessInteligenteApp.userResponse.multimediaType">Multimedia Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="showMultimedia">
            <div class="d-flex">
              <span jhiTranslate="saraBusinessInteligenteApp.userResponse.showMultimedia">Show Multimedia</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let userResponse of userResponses; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/user-response', userResponse.id, 'view']">{{ userResponse.id }}</a>
          </td>
          <td>{{ userResponse.valueResponse }}</td>
          <td jhiTranslate="{{ 'saraBusinessInteligenteApp.Priority.' + userResponse.priority }}">{{ userResponse.priority }}</td>        
          <td>{{ userResponse.isEndConversation }}</td>
          <td jhiTranslate="{{ 'saraBusinessInteligenteApp.ResponseType.' + userResponse.responseType }}">
            {{ userResponse.responseType }}
          </td>
          <td>{{ userResponse.url }}</td>
          <td>{{ userResponse.multimediaUrl }}</td>
          <td>{{ userResponse.multimediaVoiceUrl }}</td>
          <td>{{ userResponse.saraAnimationUrl }}</td>
          <td jhiTranslate="{{ 'saraBusinessInteligenteApp.MultimediaType.' + userResponse.multimediaType }}">
            {{ userResponse.multimediaType }}
          </td>
          <td>{{ userResponse.showMultimedia }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/intent']"
                [queryParams]="{ 'filter[userResponseId.in]': userResponse.id }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('saraBusinessInteligenteApp.userResponse.intent' | translate) }"
                  >Show Intent</span
                >
              </button>
              <button
                type="submit"
                [routerLink]="['/user-response', userResponse.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/user-response', userResponse.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(userResponse)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="userResponses && userResponses.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
