<div>
  <h2 id="page-heading" data-cy="InterationsHeading">
    <span jhiTranslate="saraBusinessInteligenteApp.interations.home.title">Interations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="saraBusinessInteligenteApp.interations.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-interations"
        [routerLink]="['/interations/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="saraBusinessInteligenteApp.interations.home.createLabel"> Create a new Interations </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="interations?.length === 0">
    <span jhiTranslate="saraBusinessInteligenteApp.interations.home.notFound">No Interations found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="interations && interations.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="valueRequest">
            <div class="d-flex">
              <span jhiTranslate="saraBusinessInteligenteApp.interations.valueRequest">Value Request</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sourceInfo">
            <div class="d-flex">
              <span jhiTranslate="saraBusinessInteligenteApp.interations.sourceInfo">Source Info</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="valueResponse">
            <div class="d-flex">
              <span jhiTranslate="saraBusinessInteligenteApp.interations.valueResponse">Value Response</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sourceChannel">
            <div class="d-flex">
              <span jhiTranslate="saraBusinessInteligenteApp.interations.sourceChannel">Source Channel</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let interations of interations; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/interations', interations.id, 'view']">{{ interations.id }}</a>
          </td>
          <td>{{ interations.valueRequest }}</td>
          <td>{{ interations.sourceInfo }}</td>
          <td>{{ interations.valueResponse }}</td>
          <td jhiTranslate="{{ 'saraBusinessInteligenteApp.SourceChannel.' + interations.sourceChannel }}">
            {{ interations.sourceChannel }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/interations', interations.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/interations', interations.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(interations)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="interations && interations.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
